
.DS_Store
math/algorithm/.ipynb_checkpoints/Numerical Methods-checkpoint.ipynb
math/algorithm/.ipynb_checkpoints/Quantum Computing-checkpoint.ipynb
cs/algorithm/.ipynb_checkpoints/Archive 1-checkpoint.ipynb
cs/algorithm/.ipynb_checkpoints/Archive 2-checkpoint.ipynb
